/* *{
    margin: 0;
    padding: 0;
} */

/* #ajax_info {
    display: inline;
} */
h1 {
    text-align: center;
}

.container {
    text-align: center;
}

ul {
    margin-left: 20%;
}

.solButton {
    margin-bottom: 10px;
}
 
#solution {
    display: none;
} 

.solution {
    display: none;
    margin-bottom: 5px;
}